<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css')  }}">

    <title>Consultar comida</title>
</head>
<body>
    {% for comida in comidas %}

        <p>{{comida.id}}</p>
        <p>{{comida.nombre}}</p>
        <p>{{comida.precio}}</p>
        <a href="{{url_for('appcomida.listadocomida')}}">Listado de Producto</a>
    {% endfor %}
</body>
</html>