<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css')  }}">

    <title>Document</title>
</head>
<body>
    {% for producto in productos %}

        <p>{{producto.id}}</p>
        <p>{{producto.nombre}}</p>
        <p>{{producto.descripcion}}</p>
        <p>{{producto.precio}}</p>
        <a href="{{url_for('appproducto.listadoproducto')}}">Listado de Producto</a>
    {% endfor %}
</body>
</html>