{% extends "layout.html" %}

{%block content%}
<body>
    <div class="container">
        <div class="col-md-12">
            <a class="btn btn-primary"  href="{{ url_for('apptecnico.agregar_tecnico') }}" role="button" >
                agregar tecnico
              </a>
              <br>
            <table class="table table-hover">
                    <tr class="table-dark">
                        <th scope="row">id</th>
                        <th scope="row">nombre</th>
                        <th scope="row">apellido</th>
                        <th scope="row">Editar</th>
                        <th scope="row">Consultar</th>
                    </tr>
                <body>
                    {% for tecnico in tecnicos %}
                    <tr class="table-dark">
                        <td>{{tecnico.id}}</td>
                        <td>{{tecnico.nombre}}</td>
                        <td>{{tecnico.apellido}}</td>
                        <td><a class="btn btn-primary" href="{{ url_for('apptecnico.detalles_tecnico', id=tecnico.id) }}">Editar</a></td>
                        <td><a class="btn btn-primary" href="{{ url_for('apptecnico.modificar_tecnico', id=tecnico.id) }}">Consultar</a></td>
                    </tr>
                    {% endfor %}
                </body>
            </table>
        </div>
    </div>
    
</body>
{%endblock%}