<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar tecnicos</title>
</head>
<body>
    <h1>modificar tecnico</h1>
    <form action="/modificartecnico/{{tecnico.id}}" method="POST">
        <br /> 
          <div class="mb-3" >
            <h1 class="display-4">Ingrese nuevo tecnico</h1>
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="{{tecnico.nombre}}" aria-describedby="emailHelp" name="nombre" value="{{tecnico.nombre}}">
            <div id="emailHelp" class="form-text">Recuerda nunca compartir su correo con nadie.</div>
          </div>
          <div class="mb-3" >
            <label for="exampleInputEmail1" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="{{tecnico.apellido}}" aria-describedby="emailHelp" name="apellido" value="{{tecnico.apellido}}">
            </div>
          <br/>
          <button type="submit" class="btn btn-primary"  formtarget="_blank">Entrar</button>
      </form>
</body>
</html>